footer {
    display: flex;
    justify-content: space-between;
    padding: $small-padding $small-padding $medium-padding;

    h3, h3 a {
        color: $light-blue;
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
    }
    
    img {
        height: 1rem;
        display: inline-block;
        margin-left: 0.5rem;
    }
}