@mixin gradient1 {
    background: linear-gradient($dark-blue, $light-blue)
}

@mixin gradient2 {
    background: linear-gradient($dark-blue, $light-blue 36%, #fff)
}

// backgrounds
.light-blue-bg {
    background: $light-blue;
}

.pink-bg {
    background: $pink;
}

.white-50pct-opacity-bg {
    background: rgba(250, 250, 250, .75);
}

.light-to-dark-blue-gradient-bg {
    background: linear-gradient($dark-blue, $light-blue);
}

.light-blue-bg {
    background: $light-blue;
}

// colored text
.light-text {
    color: $light-text;
}

.pink-text {
    color: $pink;
}