header {
    height: 50vh;
    padding-bottom: 2rem;
    @include gradient1;
}

header nav {
    width: 100%;
    background: $dark-blue;
    padding: .5rem;
    text-align: center;
    
    a, li {
        display: inline-block;
    }
    
    ul a {
        color: $light-blue;
        font: 600 1rem $font-family;
        text-transform: uppercase;
        margin-right: .5rem;
    }

    .nav-logo {
        display: none;
    }
}

@media (min-width: $medium-breakpoint) {
    header nav {
        padding: 1rem;
        display: flex;
        text-align: left;

        ul a {
            margin-right: .75rem;
        }
    }

    .nav-logo {
        display: block;
        width: 5rem;
        margin-right: 1rem;
    }
}

@media (min-width: $large-breakpoint) {
    header nav {
        padding: 1rem 2rem .75rem;
    }
}