$font-family: 'Work Sans', sans-serif;

$dark-text: #191919;
$light-text: #fff;

$pink: #e55ebf;
$dark-blue: #40a6ab;
$light-blue: #8cc4c8;

$small-padding: 2rem;
$medium-padding: 5rem;
$large-padding: 10rem;