$font-family: 'Work Sans', sans-serif;

$dark-text: #191919;
$light-text: #fff;

$pink: #e55ebf;

// from color picker
$dark-blue: #3da8ad;
$light-blue: #c5efec;

// from xfair_styleguide.jpg ... I don't think these match xfair_splash_annotated.pdf
//$dark-blue: #40a6ab;
//$light-blue: #8cc4c8;

$small-breakpoint: 30rem; // mobile phones-ish
$medium-breakpoint: 45rem; // tablets-ish
$large-breakpoint: 60rem;

$small-padding: 2rem;
$medium-padding: 8rem;
$large-padding: 13rem;