$font-family:  azo-sans-web, sans-serif;

$dark-text: #191919;
$light-text: #fff;

$pink: #f45b69;

// from color picker
$dark-blue: #70a5d4;
$light-blue: #cfe1f1;
$darkest-blue: #4387b6;
$middle-blue: #74c0f7;

// from xfair_styleguide.jpg ... I don't think these match xfair_splash_annotated.pdf
//$dark-blue: #40a6ab;
//$light-blue: #8cc4c8;

$small-breakpoint: 30rem; // mobile phones-ish
$medium-breakpoint: 45rem; // tablets-ish
$large-breakpoint: 60rem;

$small-padding: 2rem;
$medium-padding: 8rem;
$large-padding: 13rem;