$black: rgba(25,25,25,1);
$white: rgba(240,240,240,1);
$grey: rgba(200,200,200,1);
$dark: rgba(90,90,90,1);
$blue: rgba(107,212,255,1);
$accent: rgba(57,150,255,1);
$darkblue: rgba(5,53,78,1);

@font-face {
  font-family: Avenir;
  src: url("../assets/Avenir.ttc");
}
$avenir: "Avenir", sans-serif;
$opensans: "Open Sans", sans-serif;

.left {
  text-align: left;
}

.right {
  text-align: right;
}
