$white: rgba(240,240,240,1);
$dark: rgba(84,122,130,1);
$blue: rgba(62,172,168,1);
$light: rgba(162,212,171,1);

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: -mox-linear-gradient(legacy-direction($direction), $color-stops);
  background: -o-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@font-face {
  font-family: Avenir;
  src: url("../assets/Avenir.ttc");
}
$avenir: "Avenir", sans-serif;
$opensans: "Open Sans", sans-serif;

.left {
  text-align: left;
}

.right {
  text-align: right;
}
