@import '_constants';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: $darkblue;
  color: $darkblue;
  text-align: center;
  font-family: $avenir;
  font-weight: 300;
}

nav, .navbar {
  background-color: $darkblue;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  font-size: 1.1em;
  padding: 0 20px;

  a {
    color: $white;
  }

  a:hover {
    color: $blue;
    transition: all 300ms ease;
  }

  li:hover, .nav, .navbar-nav, .navbar-right, a:focus, a:active {
    background-color: $darkblue !important;
  }
}

::selection {
  background: $blue;
}

::-moz-selection {
  background: $blue;
}

button {
  margin-top: 20px;
  padding: 10px 50px;
  border: 2px solid $darkblue;
  background-color: transparent;
  color: $darkblue;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: all 300ms ease;
}

button:hover {
  background-color: $darkblue;
  color: $white;
}

.student {
  background: $white;

  .container {
    background: white;
    width: 55vw;
    margin: 0 auto;
    padding: 50px;

    .title {
      font-family: $avenir;
      font-size: 1.75em;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: .5em;
    }

    .subtitle {
      font-family: $avenir;
      font-size: 1.5em;
      font-weight: 700;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: 3px;
      margin-bottom: .5em;
    }

    .divider {
      border-top: 2px solid $white;
      margin: 30px 0;
    }

    .content {
      margin: 0;
      font-family: $opensans;
      font-size: 1.1em;
      font-weight: 400;
      line-height: 150%;
      text-align: left;

      .schedule {
        font-size: 1em;
        padding-left: 50px;
        margin-top: 20px;
        border-left: 5px solid $blue;
        padding-bottom: 15px;
        max-width: 60%;

        @media only screen and (max-width: 773px) {
          max-width: 100%;
          line-height: 100%;
        }

        h4 {
          padding: 15px 0 0 0;
          font-weight: 500;
        }

        .small-divider {
          border-bottom: 1px solid #bab9c1;
          margin: 0 -15px;
        }

        .row {
          border-bottom: 1px solid #bab9c1;
          
          p {
            margin-top: 10px;
            font-weight: 400;
          }
          
          .col-sm-3 p {
            color: $blue;
          }
        }

        .row:hover {
          background-color: #f4f3f0;
        }
      }
    }

    a {
      color: $accent;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 773px) {
  .student {

    .container {
      width: 80vw;
    }
  }
}

@media only screen and (max-width: 435px) {
  button {
    font-size: 1em;
  }

  .student {

    .container {
      width: 100vw;
    }
  }
}
