@import '_constants';
@import '_airplane';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: $darkblue;
  color: $black;
  text-align: center;
  font-family: $avenir;
  font-weight: 300;
}

::selection {
  background: $blue;
}

::-moz-selection {
  background: $blue;
}

#show {
  display: none;
}

section {
<<<<<<< HEAD
  height: 100%;
  position: relative;
}

.airplane {

  div {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  #view {
    position: absolute;
    width: 100vw;
    height: 100vh;
    -webkit-perspective: 500;
    -moz-perspective: 500;
    perspective: 500;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    overflow: hidden;
  }

  #camera {
    position: absolute;
    left: 50vw;
    top: 40vh;
    -webkit-animation-name: camerawork;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: camerawork;
    -moz-animation-fill-mode: forwards;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count: infinite;
    animation-name: camerawork;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

  @-webkit-keyframes camerawork {
    0%    { -webkit-transform: translate3d(0px, 0px, -200px) rotateX(40deg) rotateZ(0deg); }
    25%   { -webkit-transform: translate3d(0px, 0px, -50px) rotateX(60deg) rotateZ(90deg); }
    50%   { -webkit-transform: translate3d(0px, 0px, -100px) rotateX(100deg) rotateZ(180deg); }
    75%   { -webkit-transform: translate3d(0px, 0px, -150px) rotateX(55deg) rotateZ(270deg); }
    100%  { -webkit-transform: translate3d(0px, 0px, -200px) rotateX(40deg) rotateZ(360deg); }
  }

  @-moz-keyframes camerawork {
    0%    { -moz-transform: translate3d(0px, 0px, -200px) rotateX(40deg) rotateZ(0deg); }
    25%   { -moz-transform: translate3d(0px, 0px, -50px) rotateX(60deg) rotateZ(90deg); }
    50%   { -moz-transform: translate3d(0px, 0px, -100px) rotateX(100deg) rotateZ(180deg); }
    75%   { -moz-transform: translate3d(0px, 0px, -150px) rotateX(55deg) rotateZ(270deg); }
    100%  { -moz-transform: translate3d(0px, 0px, -200px) rotateX(40deg) rotateZ(360deg); }
  }

  @keyframes camerawork {
    0%    { transform: translate3d(0px, 0px, -200px) rotateX(40deg) rotateZ(0deg); }
    25%   { transform: translate3d(0px, 0px, -50px) rotateX(60deg) rotateZ(90deg); }
    50%   { transform: translate3d(0px, 0px, -100px) rotateX(100deg) rotateZ(180deg); }
    75%   { transform: translate3d(0px, 0px, -150px) rotateX(55deg) rotateZ(270deg); }
    100%  { transform: translate3d(0px, 0px, -200px) rotateX(40deg) rotateZ(360deg); }
  }
=======
  height: 100vh;
  position: relative;
}

.logo {
  display: none;
  position: relative;
  top: -32px;
  left: -54%;
  height: 7.5em;
  z-index: -1;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: $blue;
  text-decoration: underline;
}

a:visited {
  color: $blue;
  text-decoration: none;
}

#main {
  color: $white;
  text-transform: uppercase;

  #show {
    position: relative;
    top: 50vh;
>>>>>>> db5a7fd2b6d3099eb82fc6d883231a2f9b2f9c8a

    .tagline {
      font-weight: 100;
      letter-spacing: 2px;
    }

    .divider {
      border-top: 3px solid $white;
      max-width: 450px;
      margin: 15px auto;
      padding-top: 5px;
    }

    .info {
      font-size: 1.5em;
      letter-spacing: 5px;
    }

    button {
      margin: 0 10px;
      padding: 10px 50px;
      border: 2px solid $white;
      background-color: transparent;
      color: $white;
      font-size: 1.2em;
      text-transform: uppercase;
      transition: all 300ms ease;
    }

    button:hover {
      background-color: $white;
      color: $darkblue;
    }
  }
}
