@import '_constants';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: $darkblue;
  // background: url(../img/bg.png) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  color: $black;
  text-align: center;
  font-family: $avenir;
  font-weight: 300;
}

::selection {
  background: $blue;
}

::-moz-selection {
  background: $blue;
}

section {
  height: 100%;
  padding: 80px 0;
  position: relative;
}

#main {
  color: $white;

  .title {
    font-size: 8em;
    font-weight: 500;
    letter-spacing: .25em;

    .logo {
      position: relative;
      top: -18px;
      height: .8em;
    }

    #blue {
      color: $blue;
    }
  }
}

.airplane {

  div {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  #view {
    position: absolute;
    width: 100vw;
    height: 100vh;
    -webkit-perspective: 500;
    -moz-perspective: 500;
    perspective: 500;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    overflow: hidden;
  }

  #camera {
    position: absolute;
    left: 50vw;
    top: 40vh;
    -webkit-animation-name: camerawork;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 8s;
    -moz-animation-name: camerawork;
    -moz-animation-fill-mode: forwards;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 8s;
    animation-name: camerawork;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 8s;
  }

  @-webkit-keyframes camerawork {
    0%    { -webkit-transform: translate3d(0px, 0px, -500px) rotateX(40deg) rotateZ(0deg); }
    25%   { -webkit-transform: translate3d(0px, 0px, -60px) rotateX(60deg) rotateZ(90deg); }
    50%   { -webkit-transform: translate3d(0px, 0px, -80px) rotateX(100deg) rotateZ(180deg); }
    75%   { -webkit-transform: translate3d(0px, 0px, -90px) rotateX(55deg) rotateZ(270deg); }
    100%  { -webkit-transform: translate3d(0px, 0px, -100px) rotateX(10deg) rotateZ(360deg); }
  }

  @-moz-keyframes camerawork {
    0%    { -moz-transform: translate3d(0px, 0px, -500px) rotateX(40deg) rotateZ(0deg); }
    25%   { -moz-transform: translate3d(0px, 0px, -60px) rotateX(60deg) rotateZ(90deg); }
    50%   { -moz-transform: translate3d(0px, 0px, -80px) rotateX(100deg) rotateZ(180deg); }
    75%   { -moz-transform: translate3d(0px, 0px, -90px) rotateX(55deg) rotateZ(270deg); }
    100%  { -moz-transform: translate3d(0px, 0px, -100px) rotateX(10deg) rotateZ(360deg); }
  }

  @keyframes camerawork {
    0%    { transform: translate3d(0px, 0px, -500px) rotateX(40deg) rotateZ(0deg); }
    25%   { transform: translate3d(0px, 0px, -60px) rotateX(60deg) rotateZ(90deg); }
    50%   { transform: translate3d(0px, 0px, -80px) rotateX(100deg) rotateZ(180deg); }
    75%   { transform: translate3d(0px, 0px, -90px) rotateX(55deg) rotateZ(270deg); }
    100%  { transform: translate3d(0px, 0px, -100px) rotateX(10deg) rotateZ(360deg); }
  }

  #floor {
    border-radius: 25vw;
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: -25vw;
    top: -25vw;
    background-position: -10px 0;
    background-image: -webkit-gradient(
      radial,
      center center, 0,
      center center, 5,
      from(          #fff),
      color-stop(.50,#fff),
      color-stop(.50,transparent),
      to(            transparent));
    background-image: -moz-radial-gradient(
      center 45deg,
      circle closest-side,
      #fff 0%,
      #fff 10%,
      transparent 10%,
      transparent 100%);
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    background-size: 100px 100px;
    -webkit-transform: translateZ(-300px);
    -moz-transform: translateZ(-300px);
    transform: translateZ(-300px);
    -webkit-animation-name: scroll;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-direction: normal;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: scroll;
    -moz-animation-timing-function: linear;
    -moz-animation-duration: 0.2s;
    -moz-animation-direction: normal;
    -moz-animation-iteration-count: infinite;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-duration: 0.2s;
    animation-direction: normal;
    animation-iteration-count: infinite;
  }

  @-webkit-keyframes scroll {
    0%    { background-position: -10px 0; }
    100%  { background-position: -10px 100px; }
  }

  @-moz-keyframes scroll {
    0%    { background-position: 10px 0; }
    100%  { background-position: 10px 100px; }
  }

  @keyframes scroll {
    0%    { background-position: 10px 0; }
    100%  { background-position: 10px 100px; }
  }

  #airplane {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .wingLeft {
    position: absolute;
    width: 40px;
    height: 80px;
    border-right: 1px solid $darkblue;
    border-bottom: 1px solid $darkblue;
    overflow: hidden;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }
  .wingLeft:before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 80px;
    background: #fff;
    border: 1px solid $darkblue;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: skew(-26deg);
    -moz-transform: skew(-26deg);
    transform: skew(-26deg);
  }
  .wingRight {
    position: absolute;
    left: 40px;
    width: 40px;
    height: 80px;
    border-left: 1px solid $darkblue;
    border-bottom: 1px solid $darkblue;
    overflow: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }
  .wingRight:before {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 80px;
    background: #fff;
    border: 1px solid $darkblue;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: skew(27deg);
    -moz-transform: skew(27deg);
    transform: skew(27deg);
  }
  .bodyLeft {
    position: absolute;
    top: 0;
    left: 10px;
    width: 30px;
    height: 80px;
    border-right: 1px solid $darkblue;
    border-bottom: 1px solid $darkblue;
    overflow: hidden;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotateZ(5deg) rotateY(-102deg);
    -moz-transform: rotateZ(5deg) rotateY(-102deg);
    transform: rotateZ(5deg) rotateY(-102deg);
  }
  .bodyLeft:before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 80px;
    background: #fff;
    border: 1px solid $darkblue;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: skew(-20.5deg);
    -moz-transform: skew(-20.5deg);
    transform: skew(-20.5deg);
  }
  .bodyRight {
    position: absolute;
    top: 0;
    left: 40px;
    width: 31px;
    height: 80px;
    border-left: 1px solid $darkblue;
    border-bottom: 1px solid $darkblue;
    overflow: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateZ(-5deg) rotateY(102deg) rotateX(-0.5deg);
    -moz-transform: rotateZ(-5deg) rotateY(102deg) rotateX(-0.5deg);
    transform: rotateZ(-5deg) rotateY(102deg) rotateX(-0.5deg);
  }
  .bodyRight:before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 80px;
    background: #fff;
    border: 1px solid $darkblue;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: skew(21.5deg);
    -moz-transform: skew(21.5deg);
    transform: skew(21.5deg);
  }
  .bodyShadow {
    position: absolute;
    top: 0;
    left: -5px;
    border-right: 45px solid transparent;
    border-left: 45px solid transparent;
    border-bottom: 80px solid rgba(0, 0, 0, 0.3);
    -webkit-transform: translateZ(-300px);
    -moz-transform: translateZ(-300px);
    transform: translateZ(-300px);
  }
}


// nav.navbar.navbar-inverse {
//   background-color: $black;
//   border: none;
//   font-size: 1.5em;

//   .navbar-nav {
//     float: none;
//     display: inline-block;
//     margin-bottom: -8px;

//     a#blue {
//       color: $blue;
//     }

//     a#blue:hover {
//       color: $white;
//     }

//     li>a {
//       padding: 25px;
//       color: $grey;
//       cursor: pointer;
//     }

//     li>a:hover {
//       color: $white;
//     }
//   }
// }

// #main {
//   text-align: center;
//   padding-top: 35vh;

//   .logo {
//     height: 10em;
//   }

//   .subtitle {
//     margin-top: 10px;
//     color: $white;
//     font-size: 1.75em;
//   }

//   a.down {
//     position: absolute;
//     bottom: 10vh;
//     cursor: pointer;
//   }

//   .glyphicon {
//     font-size: 1.75em;
//   }
// }

// #who {
//   padding: 40vh 0;

//   .content {
//     padding: 0 15vw;
//     color: $white;
//     font-size: 1.25em;
//   }
// }

// #what {
//   padding-top: 20vh;

//   .line {
//     width: 100vw;
//     padding: 10px 0;

//     a {
//       padding: 10px;

//       img.square {
//         height: 175px;
//       }
//     }
//   }
// }

// #committees {
//   padding-top: 20vh;
//   height: 105vh;

//   .left {
//     width: 40vw;
//     color: $white;
//     text-align: right;
//     font-size: 1.5em;
//     display: inline-block;
//     float: left;

//     ul {
//       margin-bottom: 0;
//       padding-left: 0;
//       list-style-type: none;
//       cursor: pointer;
//       line-height: 1.75em;
//       display: inline-block;

//       li {
//         width: auto;
//       }

//       li:hover {
//         color: $blue;
//       }

//       .break {
//         margin-bottom: 1em;
//       }
//     }
//   }

//   .right {
//     width: 45vw;
//     color: $white;
//     text-align: left;
//     display: inline-block;

//     .default {
//       margin-top: 10em;

//       .name {
//         font-size: 2em;
//       }

//       .description {
//         font-size: 1.25em;

//         a {
//           text-decoration: underline;
//           color: $white;
//         }

//         a:visited {
//           color: $white;
//         }
//       }
//     }

//     .committee {

//       .name {
//         font-size: 2em;
//         margin-bottom: 30px;
//       }

//       .description {
//         font-size: 1.25em;
//         margin-bottom: 3em;
//       }

//       .directors {
//         font-size: 1.25em;

//         .person {
//           display: inline-block;
//           margin: 10px 10px 0 0;

//           .name {
//             background: $black;
//             color: $white;
//             text-align: center;
//             font-weight: 400;
//             font-size: 0.8em;
//             padding: 8px;
//             border-radius: 0 0 5px 5px;
//           }

//           .image {
//             display: inline-block;
//             background: url(/img/team/q.png);
//             background-size: contain;
//             height: 150px;
//             width: 150px;
//             border-radius: 5px 5px 0 0;
//             margin: 0 0 -6px 0;

//             &:hover {
//               -webkit-transition: background 1s;
//               -moz-transition: background 1s;
//               -o-transition: background 1s;
//               transition: background 1s;
//             }

//             &.archis-bhandarkar {
//               background: url(/img/team/archis.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/archis-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.andreea-martin {
//               background: url(/img/team/andreea.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/andreea-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.benjamin-reynolds {
//               background: url(/img/team/ben.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/ben-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.daniel-lerner {
//               background: url(/img/team/daniel.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/daniel-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.elizabeth-bianchini {
//               background: url(/img/team/elizabeth.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/elizabeth-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.jack-serrino {
//               background: url(/img/team/jack.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/jack-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.jason-ma {
//               background: url(/img/team/jason.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/jason-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.jennifer-yu {
//               background: url(/img/team/jenn.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/jenn-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.jennifer-zhang {
//               background: url(/img/team/jenny.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/jenny-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.kimberli-zhong {
//               background: url(/img/team/kimberli.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/kimberli-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.larry-zhang {
//               background: url(/img/team/larry.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/larry-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.margaret-tian {
//               background: url(/img/team/margaret.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/margaret-silly.png);
//                 background-size: contain;
//               }
//             }
//             &.sina-booeshaghi {
//               background: url(/img/team/sina.png);
//               background-size: contain;
//               &:hover {
//                 background: url(/img/team/sina-silly.png);
//                 background-size: contain;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

// footer {
//   height: 100px;
//   color: $grey;

//   .icons {
//     margin-bottom: 5px;

//     a {
//     	font-size: .75em;
//       display: inline-block;
//       margin: 0 5px;
//     }
//   }

//   .copyright {
//     font-size: 1em;
//     margin: 10px 0 5px 0;
//   }

//   .elevator {
//     font-size: 0.8em;
//     text-decoration: underline;
//   }
// }

// @media only screen and (max-width: 768px) {

// 	#what {
// 	  padding-top: 25vh;
// 	}

// 	#committees {
// 		padding-top: 22vh;
// 		height: 100vh;
// 	}
// }

// @media only screen and (max-width: 736px) {

// 	#main {

// 		.logo {
// 			height: 5em;
// 		}
// 	}

// 	#who {
// 		padding-top: 35vh;
// 	}

// 	#what {
// 		padding-top: 20vh;

// 		.line {
// 			padding: 5px 0;

// 			a {
// 				padding: 5px;

// 				img.square {
// 					height: 100px;
// 				}
// 			}
// 		}
// 	}

// 	#committees {
// 		height: 190vh;
// 	}
// }

// @media only screen and (max-width: 667px) {

// 	#main {
// 		padding-top: 30vh;
// 	}

// 	#who {
// 		padding-top: 30vh;
// 	}

// 	#what {
// 		padding-top: 18vh;

// 		.title {
// 			margin-bottom: 15px;
// 		}

// 		.line>a>img.square {
// 			height: 90px;
// 		}
// 	}

// 	#committees {
// 		height: 200vh;

// 		.left {
// 			font-size: 1.4em;
// 		}

// 		.right {
// 			width: 50vw;

// 			.default {
// 				margin-top: 8em;
// 			}
// 		}
// 	}
// }

// @media only screen and (max-width: 568px) {

// 	.title {
// 		font-size: 2.5em;
// 	}

// 	#who {

// 		.content {
// 			font-size: 1.1em;
// 		}
// 	}

// 	#what {

// 		.title {
// 			margin-bottom: 5px;
// 		}

// 		.line>a>img.square {
// 			height: 90px;
// 		}
// 	}

// 	#committees {
// 		height: 200vh;

// 		.left {
// 			font-size: 1.2em;
// 		}

// 		.right {
// 			width: 50vw;

// 			.default {
// 				margin-top: 8em;

// 				.description {
// 					font-size: 1.1em;
// 				}
// 			}

// 			.committee {

// 				.description {
// 					font-size: 1.1em;
// 					margin-bottom: 2em;
// 				}

// 				.directors .person {

// 					.image {
// 						height: 125px;
// 						width: 125px;
// 					}

// 					.name {
// 						font-size: .7em;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// @media only screen and (max-width: 414px) {

// 	#what {
// 		padding-top: 25vh;

// 		.title {
// 			margin-bottom: 25px;
// 		}
// 	}

// 	#committees {
// 		height: 135vh;

// 		.left {
// 			font-size: 1.1em;
// 		}

// 		.right {

// 			.default {
// 				margin-top: 5em;
// 			}

// 			.committee {

// 				.description {
// 					font-size: 1.1em;
// 					margin-bottom: 2em;
// 				}

// 				.directors .person {

// 					.name {
// 						margin-bottom: 1em;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// @media only screen and (max-width: 375px) {

// 	#what {
// 		padding-top: 25vh;

// 		.title {
// 			margin-bottom: 25px;
// 		}
// 	}

// 	#committees {
// 		height: 160vh;

// 		.left {
// 			font-size: 1.1em;
// 		}

// 		.right {

// 			.committee {

// 				.description {
// 					font-size: 1.1em;
// 					margin-bottom: 2em;
// 				}

// 				.directors .person {

// 					.name {
// 						margin-bottom: 1em;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// @media only screen and (max-width: 320px) {

// 	.title {
// 		font-size: 3em;
// 	}

// 	#main {

// 		.subtitle {
// 			font-size: 1.25em;
// 		}
// 	}

// 	#who {

// 		.content {
// 			font-size: 1.25em;
// 		}
// 	}

// 	#what {
// 		padding-top: 25vh;

// 		.title {
// 			margin-bottom: 25px;
// 		}
// 	}

// 	#committees {
// 		height: 190vh;

// 		.left {
// 			font-size: 1.1em;
// 		}

// 		.right {

// 			.committee {

// 				.description {
// 					font-size: 1.1em;
// 					margin-bottom: 2em;
// 				}

// 				.directors .person {

// 					.name {
// 						margin-bottom: 1em;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
