---
---

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600&display=swap');

$font-family: 'Work Sans', sans-serif;

$dark-text: #191919;
$light-text: #fff;

$pink: #e55ebf;
$dark-blue: #40a6ab;
$light-blue: #8cc4c8;

@mixin gradient1 {
    background: linear-gradient($dark-blue, $light-blue)
}

@mixin gradient2 {
    background: linear-gradient($dark-blue, $light-blue 36%, #fff)
}

.main-container {
    background: $light-blue;
}

article {
    width: 70%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background: $dark-blue;
    a, li {
        display: inline-block;
    }
    a {
        color: $light-blue;
        font: 600 1rem $font-family;
        text-transform: uppercase;
    }
}

h1, h2, h3, h4 {
    text-align: center;
}

h2 {
    font: 600 1.75rem $font-family;
}

h3 {
    font: 600 1.25rem $font-family;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: $dark-blue;
}

.pink-text {
    color: $pink;
}

h4 {
    color: $light-text;
    font: 400 1rem/100% $font-family;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

header {
    height: 70vh;
    padding-bottom: 2rem;
    @include gradient1;
}

.white-50pct-opacity-bg {
    background: rgba(250, 250, 250, .5);
}

.light-to-dark-blue-gradient-bg {
    background: linear-gradient($dark-blue, $light-blue);
}

.light-blue-bg {
    background: $light-blue;
}

.subsection {
    width: 90%;
    margin: 5% auto;
    max-width: 1000px;
    padding: 5%;
}

h2 {
    text-transform: uppercase;
    color: $dark-blue;
}

p {
    color: $dark-blue;
    font: 400 1rem/130% $font-family;
}

b {
    color: $pink;
}