@font-face {
  font-family: Avenir;
  src: url("../assets/Avenir.ttc"); }
.left {
  text-align: left; }

.right {
  text-align: right; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  background: #f0f0f0;
  color: #547a82;
  text-align: center;
  font-family: "Avenir", sans-serif;
  font-weight: 300; }

::selection {
  background: #3eaca8; }

::-moz-selection {
  background: #3eaca8; }

a {
  color: #547a82;
  text-decoration: none; }

a:hover, a:visited:hover {
  color: #547a82;
  transition: all 200ms ease; }

a:visited {
  color: #547a82;
  text-decoration: none; }

button {
  margin: 10px;
  padding: 10px 50px;
  border: 2px solid #f0f0f0;
  background-color: transparent;
  color: #f0f0f0;
  font-size: 1.2em;
  text-transform: uppercase;
  transition: all 300ms ease; }

button:hover {
  background-color: #f0f0f0;
  color: #547a82; }

.title {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: .75em; }

.thin {
  font-weight: 500; }

.content {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  font-weight: 200;
  line-height: 200%; }

#main {
  height: 100vh;
  padding: 0;
  color: #f0f0f0;
  text-transform: uppercase; }
  #main .bg {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#a2d4ab, #3eaca8);
    z-index: -1; }
    #main .bg .left-trail {
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 30%; }
    #main .bg .right-trail {
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 50%; }
  #main .logo {
    margin-top: 30vh;
    margin-bottom: 25px;
    height: 15vh;
    max-width: 95vw; }
  #main .subtitle {
    font-size: 1.5em; }
    #main .subtitle .tagline {
      font-weight: 100;
      letter-spacing: 2px; }
    #main .subtitle .info {
      margin-top: 5vh;
      margin-bottom: 5vh;
      letter-spacing: 5px; }

#about {
  padding: 80px 15vw;
  background: white;
  color: #547a82; }
  #about b {
    color: #3eaca8; }

#employers {
  padding: 80px 20px 100px 20px;
  background: linear-gradient(-120deg, #a2d4ab, #3eaca8, #a2d4ab);
  color: #f0f0f0;
  position: relative; }
  #employers button {
    margin-top: 2em;
    padding: 10px 30px; }
  #employers .bg {
    position: absolute;
    top: 20%;
    left: -10px;
    width: 15%; }

#students {
  padding: 80px 20px 100px 20px;
  background: linear-gradient(-45deg, #3eaca8, #547a82);
  color: #f0f0f0; }
  #students button {
    padding: 10px 30px; }

#exhibitors {
  padding: 80px 20px 100px 20px;
  position: relative; }
  #exhibitors a, #exhibitors b {
    color: #3eaca8; }
  #exhibitors .content {
    width: 80vw;
    margin: auto;
    line-height: 150%; }
    #exhibitors .content .row .col-md-4 {
      margin-top: 7vh;
      min-margin-top: 25px; }
      #exhibitors .content .row .col-md-4 .photo {
        width: 100%;
        max-width: 400px; }
      #exhibitors .content .row .col-md-4 .subtitle {
        margin-top: 1em;
        text-transform: uppercase;
        font-family: "Avenir", sans-serif;
        font-weight: 700;
        letter-spacing: 2px; }
      #exhibitors .content .row .col-md-4 .creator {
        margin-bottom: .25em; }
      #exhibitors .content .row .col-md-4 .subcontent {
        font-size: .8em;
        line-height: 150%; }
  #exhibitors .bg {
    height: 100%;
    width: 100%;
    background: #f0f0f0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
    #exhibitors .bg .trail {
      position: absolute;
      top: 45%;
      left: 0;
      width: 100%; }

#sponsors {
  padding: 80px 15vw;
  color: #f0f0f0;
  background: linear-gradient(45deg, #547a82, #547a82, #3eaca8); }
  #sponsors a {
    color: #a2d4ab; }
  #sponsors .container {
    width: 80vw; }
    #sponsors .container img {
      height: auto;
      width: auto;
      display: inline-block;
      vertical-align: middle;
      margin: 16px; }
    #sponsors .container .platinum {
      padding: 0 5%; }
      #sponsors .container .platinum img {
        max-height: 200%;
        max-width: 70%; }
    #sponsors .container .gold {
      padding: 0 5%; }
      #sponsors .container .gold img {
        max-height: 20vh;
        max-width: 28%; }
    #sponsors .container .silver {
      padding: 0 5%; }
      #sponsors .container .silver img {
        max-height: 15%;
        max-width: 20%; }
    #sponsors .container .bronze {
      padding: 0 5%; }
      #sponsors .container .bronze img {
        max-height: 13%;
        max-width: 15%; }
    #sponsors .container .startup {
      padding: 0 5%; }
      #sponsors .container .startup img {
        max-height: 13%;
        max-width: 15%; }

#faq {
  padding: 80px 20px 20px 20px;
  background: linear-gradient(30deg, #a2d4ab, #3eaca8, #a2d4ab);
  color: #f0f0f0; }
  #faq .title {
    margin-bottom: 1.25em; }
  #faq .content .row {
    padding: 0 10vw;
    text-align: left; }
    #faq .content .row .col-md-4 {
      margin-bottom: 50px; }
      #faq .content .row .col-md-4 .question {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: .9em; }
      #faq .content .row .col-md-4 .answer {
        font-size: .8em;
        line-height: 150%;
        letter-spacing: .5px; }

footer {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 30px 5vw 37px 5vw;
  background: #547a82;
  color: #f0f0f0;
  position: relative; }
  footer .col-sm-6 {
    margin-top: 10px; }
  footer .icons i {
    font-size: 1.25em;
    padding: 0 2px; }
  footer a {
    color: #f0f0f0;
    font-size: .75em;
    display: inline-block; }
  footer a:hover, footer a:visited, footer a:visited:hover {
    color: #f0f0f0;
    text-decoration: none; }
  footer .link {
    font-size: 100%;
    font-weight: 700;
    letter-spacing: 2px; }
  footer .plane {
    position: relative;
    right: 10px;
    top: -3px;
    height: 20px; }

@media only screen and (max-width: 1250px) {
  #employers .bg {
    display: none; } }
@media only screen and (max-width: 989px) {
  #exhibitors .bg {
    display: none; } }
@media only screen and (max-width: 435px) {
  button {
    padding: 10px 30px;
    font-size: 1.2em; }

  .title {
    font-size: 2.2em; }

  #main .subtitle .tagline {
    font-size: .9em;
    letter-spacing: 1px; }
  #main .subtitle .info {
    font-size: 1.25em;
    letter-spacing: 3px; }

  #about {
    padding: 80px 20px; }

  #sponsors {
    padding: 80px 20px; }

  footer {
    font-size: .9em; } }
@media only screen and (max-width: 330px) {
  button {
    padding: 10px 25px;
    font-size: 1em; }

  .title {
    font-size: 2em; }

  #main .subtitle .tagline {
    font-size: .85em;
    letter-spacing: 1px; }
  #main .subtitle .info {
    font-size: 1.25em;
    letter-spacing: 3px; }

  footer {
    font-size: .9em; } }
@media only screen and (max-height: 435px) {
  #main {
    height: 120vh; } }

/*# sourceMappingURL=style.css.map */
